.home-page {
  position: relative;
  height: 100%;
  color: white;
  font-family: "Jura", sans-serif;
  font-size: 20px; // base font-size, almost all other font-size will be based on a percentage of this.
  overflow: auto;
  background-color: #313233;

  @media (max-width: 768px) {
    //font-size: 9px;
  }

  #header-bar {
    position: fixed;
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    background-color: black;
    z-index: 1;

    .buttons-container {
      margin-left: 10px;
      //padding-top: 1%;
      vertical-align: middle;

      .button {
        height: 13px;
        width: 13px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        margin-right: 2px;

        &.red {
          background-color: red;
        }

        &.orange {
          background-color: orange;
        }

        &.green {
          background-color: green;
        }
      }
    }

    .main-text {
      position: absolute;
      width: 100%;
      text-align: center;
      font-size: 14px;
    }
  }

  #footer-bar {
    position: fixed;
    bottom: 0px;
    display: flex;
    align-items: center;
    min-height: 40px;
    width: 100%;
    background-color: black;
    padding: 0px 10px;
    z-index: 1;
    font-size: 14px;

    .pre-text {
      white-space: nowrap;
    }

    .main-text {
      margin-left: 8px;

      .text {
        display: none;
      }
    }

    @keyframes blink-animation {
      to {
        visibility: hidden;
      }
    }

    .blinker {
      display: inline-block;
      width: 10px;
      height: 20px;
      background-color: white;
      margin-left: 2px;
      animation: blink-animation 1s steps(2, start) infinite;
    }
  }

  .screen-panel {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0px 5%;
    padding-top: 20px;
    //overflow-x: hidden;
    //background-color: #313233;
    //@extend %border-box;

    .screen-panel-title {
      text-align: center;
      font-size: 2em;
      font-weight: bold;
      margin-bottom: 40px;
    }

    &.animated {
      /*@keyframes code-animation {
                0% {
                    top: -50px;
                    @include opacity(0);
                }
                50% {
                    top: 0px;
                }
                100% {
                    @include opacity(0.5);
                }
            }
            @keyframes main-text-animation {
                from {
                    width: 0;
                }
                to {
                    width: auto;
                }
            }
            .code {
                animation-delay: 0s;
                animation-name: code-animation;
                animation-duration: 1.5s;
            }*/
      .key {
        left: 0px !important;
        opacity: 1 !important;
      }
    }
  }

  #intro {
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
      font-size: 12px;
    }

    .personal-info-container {
      position: relative;
      padding-right: 5%;
    //   padding-top: 15%;
      font-size: 1.6em;
      font-weight: bold;

      .code-line {
        // @include transition(all 300ms ease-out);
        transition: all 300ms ease-out;

        &.indent {
          padding-left: 5%;
          line-height: 130%;
        }

        .code-object-type {
          color: #4ec9b0;
        }

        .code-object {
          color: #9cdcfe;
        }

        .code-key-word {
          color: #569cd6;
        }

        .code-normal {
          color: #dcdcdc;
        }

        .code-string {
          color: #d69d85;
        }

        .name-string {
          //font-size: 3rem;
        }

        span {
        }
      }

      @for $i from 1 through 100 {
        .code-line:nth-child(#{$i}n) span {
          transition-delay: #{($i - 1) * 0.05}s;
        }
      }
      
      @for $i from 1 through 10 {
        .line.ident:nth-child(#{$i}n) .key {
          transition-delay: #{($i - 1) * 0.05}s;
        }
      }
    }

    .laptop {
      position: absolute;
      display: block;
      width: 36%;
      height: auto;
      right: 10%;
      bottom: 5%;
      opacity: 0.3;
    }

    @media (max-width: 768px) {
      #laptop {
        width: 90%;
        left: auto;
        right: auto;
        //bottom: 7%;
        margin: 0 auto;
      }
    }
  }

  #projects {
    background: linear-gradient(to right bottom, #313233 50%, #2d2d2d 50%);

    @media (max-width: 768px) {
      font-size: 16px;
    }

    .wrapper {
      max-width: 800px;
      margin: 0 auto;
    }

    .project-block {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      padding: 0px 0px;
      margin-bottom: 30px;

      .img-container {
        flex: 0 0 50%;

        img {
          width: 100%;
          border-radius: 10px;
        }
      }

      .description {
        flex: 0 0 50%;
        padding-left: 40px;

        .title {
          font-size: 1.75rem;
          font-weight: bold;
          margin-bottom: 10px;
        }
      }
    }

    @media (max-width: 768px) {
      .project-block {
        flex-flow: column nowrap;

        .img-container {
          margin-bottom: 15px;
        }

        .description {
          padding-left: 0px;
        }
      }
    }
  }

  #skills {
    background: linear-gradient(to left top, #313233 50%, #2d2d2d 50%);

    //background-color: bisque;
  }

  .expanded {
    display: inherit;
  }

  .abbreviated {
    display: none;
  }

  @media (max-width: 420px) {
    .expanded {
      display: none;
    }

    .abbreviated {
      display: inherit;
    }
  }
}
