.resume-skill-rating {
    position: relative;
    top: 12px;
    float: left;
    width: 300px;
    height: 8px;
    background-color: rgb(174, 225, 237);

    .skill-rating-percent {
        background-color: rgb(65, 178, 205);
        height: 100%;
    }
}
